<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Create Forum</h1>

    {{#error}}
        <p style="color: red;">{{error}}</p>
    {{/error}}

    <form action="/create-forum" method="POST">
        <label>Title:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Description:</label><br>
        <input type="text" name="description" required><br><br>

        <input type="submit" value="Post">
    </form>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
